body{
	background: url("http://cache1.asset-cache.net/gc/10049543-father-kids-playing-on-beach-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=RntKwDXry0ai3Ip06CDMakwINJh5JJMnBUqMoE5HTznOyOOlzVGLsaV0usC1NKNG")
}
ul a{
	text-decoration: none;

} 
nav ul{
	text-align: center;

}

body{
	color: white;

}

h1{

}
}